@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
	ViewData["Title"] = "Overview of gifts for girls";
}

@section Scripts {

	<script>

		const CONTAINER = document.querySelector("#giftContainer");

		var request = new XMLHttpRequest();
		request.open("GET", API_URL + "/OnlyFor/girl", true); // call HttpGet("GirlsOnly") in api/Gifts
		request.onload = function () // When the event onload triggers, convert response into readable array of gifts and display them
		{
			var data = JSON.parse(this.response);
			data.forEach(gift => {
				ShowGiftInformation(gift, CONTAINER); // js function located in wwwroot/js/site.js
			});
		}

		// When the page is ready to display, send the XMLHttpRequest
		$(document).ready(function ()
		{
			request.send();
		});

	</script>
}


<div id="giftContainer" class="d-flex">

</div>
